node_modules
# truffle
packages/truffle/build
packages/truffle/stats.json
packages/truffle/.DS_Store
packages/truffle/Thumbs.db
packages/truffle/.tern-port
packages/truffle/dependencies
packages/truffle/$RECYCLE.BIN/

yarn-error.log
.vscode
.idea
.DS_Store